*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// the body of the page
body{
    background-color: aqua;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

// The main_container of the page container all the element
#main_container{
    background-color: bisque;
    margin: 0;
    padding: 0;
    
}
// the div of the id sign _in
div#sign _in{
    background: #ffffff;
    width: 30em;
    height: 30em;
    position: absolute;
    right: 0em;
    top: 0;
    
    

}

h5.first_h{
    font-size: 0.8em;
    color: #000000;
    margin:0;
    padding: 0;
    position: absolute;
    right: 0em;
    top: 0.8em;
    margin-right: 11em;
   
    
  

}
a.user{
    text-decoration: none;
    font-size: 0.8em;
    color: #0000ff;
    position: absolute;
    right: 0em;
    top: 1.9em;
    margin-right: 11em;

    
    
    

}
.user a:hover{
    color: #7fff00;
    cursor: pointer;
    
}
button.signin{
    font-size: 0.9em;
    font-weight: bold;
    width: 8%;
    height: 5%;
    background-color: #0000ff;
    border:none;
    border-radius: 0.8em;
    cursor: pointer;
    text-decoration: none;
    color: #ffebcd;
    text-align: center;
    margin-right: 1.5em;
    position: absolute;
    right: 0em;
    top: 0.5em;
}
// The header part of the page

div#header{
    text-align: center;
}
header{
    text-align: center;
    margin: 3.5em;

}
h1.head{
    font-size: 2.em;
    color: #5f9ea0;
    font-weight: bolder;
    margin-top: 2.4em;
    

}
.mint a{
    text-decoration: none;
    color: #5f9ea0;
    margin-top: 3.5em;
    padding-top: 3.5em;
}
.formContainer{
    display: flex;
    justify-content: center;
    
}
form{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 3px;
    width: 30%;
    height: 20%;
    border: 5px solid #5f9ea0;
    font-family: Arial, Helvetica, sans-serif;
}
.form-header{
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-bottom: 4rem;
    margin-top: 1.3rem;
}
.advText{
    margin-top: 1rem;
}
.infoinput{
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    display: inline-block;
    border: 0.5px solid #616e6e;
    border-radius: 4px;
}
input[type=submit]{
    width: 100%;
    background-color: #0000ff;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
.phone{
    font-size: 10px;
    margin-top: -2rem;
    margin-bottom: 1rem;
}
.textFooter{
    text-align: center;
    margin-top: 2rem;
    font-size: 13px;
}


